.Ellipsis {
  float: right;
  color: black;
  width: 100%;
  margin: 40px 0 0 120px;

  &.EllipsisActive {
    opacity: 1;
  }

  &Categories {
    margin-top: 20px;
    display: flex;
    gap: 10px;
    button {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: none;
      background: transparent;
      cursor: pointer;
      opacity: 0.3;
      transition: opacity 0.2s ease;
      &:hover {
        opacity: 1;
      }

      &.work {
        background-color: aquamarine;
      }

      &.studies {
        background-color: #1a0080;
      }

      &.shop {
        background-color: #d87093;
      }

      &.sport {
        background-color: #8a2be3;
      }
    }
  }
}
