.todoModal {
  padding: 10px;
  border-radius: 5px;
  width: 400px;
  height: 400px;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &Top {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    position: relative;
  }

  &Form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    min-width: 90%;

    display: grid;
    grid-template-columns: 1fr 90px;
  }

  &Input{
    border: none;
    background-color: aliceblue;
    padding: 10px;

    border-radius: 5px 0 0 5px;
  }

  &Input, &Button { 
    font-family: 'Comfortaa', cursive;
  }

  &Button { 
    outline: none;
    border: none;
    background-color: rgb(39, 128, 216);
    color: #fff;
    border-radius: 0 5px 5px 0;

    cursor: pointer;
    transition: opacity .2s ease;

    &:hover { 
        opacity: .9;
    }
  }

  &Close { 
    cursor: pointer;
    transition: color .2s ease;

    &:hover { 
        color: blue
    }
  }
}
