@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap');

body {
  font-family: 'Comfortaa', cursive;

    color: #fff;
    line-height: 1.2;
    font-size: 17px;

  background: -webkit-linear-gradient(90deg, #250f2b, #070112);
  background: linear-gradient(90deg, #250f2b, #070112);
}
